:root, * {
    margin:  0;
    padding: 0;
    box-sizing: border-box;

    --bg0:   #FFFFFF; /* white */
    --bg1:   #084C61; /* darkest cyan */
    --bg2:   #4F6D7A; /* lighter cyan */
    --bg3:   #56A3A6; /* lightest cyan */
    --warn0: #E3B505; /* yellow */
    --warn1: #DB504A; /* red */

    --padding: 40px;

    color: var(--bg0);
}

.interact {
    background-color: var(--bg1);
    transition: 0.1s;
}

.interact:hover {
    background-color: var(--warn0);
}

.interact:active {
    background-color: var(--warn1);
}

body {
    padding: var(--padding);
    background-color: var(--bg2);
}

@media only screen and (max-width: 600px) {
    * {
        --padding: 20px;
    }
}
