main {
    display: inline-block;
}

h1 {
    margin: 15px 0px;
}

#items {
    display: flex;
    flex-wrap: wrap;
    justify-items: stretch;
}

.link {
    text-decoration: none;
    width: 100%;
}

.item {
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 15px;

    border-radius: 7px;
}


@media only screen and (min-width: 500px) {
    .link {
        width: 50%;
    }
}

@media only screen and (min-width: 835px) {
    .link {
        width: 250px;
    }
    .item {
        min-width: 110px;
    }
}
