* {
    --row-height: 20px;

    --p-size:  17px;
    --h2-size: 27px;
}

p  { font-size: var(--p-size); }
h2 { font-size: var(--h2-size); }

ul {
    padding-left: 22px;
    list-style-type: none;
}

.point {
    display: inline-block;
    width: 0;
    height: 0;
    position: relative;
    right: 15px;
    font-size: 22px;
    color: var(--bg1);
}

/* ul li::marker { */
/*     color: var(--bg1); */
/*     font-size: 20px; */
/* } */

p, h2 {
    display: inline-block;
}

h1 {
    margin-bottom: 4px;
}

#lists {
    display: flex;
    margin-top: 24px;
    flex-wrap: wrap;
}

.list {
    width: 300px;
    margin-bottom: 16px;
    margin-right:  32px;
}

.btn {
    border: none;
}

.list-btn {
    width:  var(--row-height);
    height: var(--row-height);
    background-color: initial;
}

.top-btn {
    padding: 6px 12px;
    border-radius: 3px;
}

.row .control {
    border-radius: 3px;
}

.row {
    min-height: var(--row-height);
    margin-bottom: 4px;
}

.row .control {
    float: right;
    position: relative;
    bottom: 1px;
    background-color: var(--bg1);
}

.item {
    border-top: none;
}

.item p {
    padding-right: 10px;
    max-width: calc(100% - calc(var(--row-height) * 4));
}

.list-head {
    border-bottom: 2px solid var(--bg1);
    margin-bottom: 6px;
    position: relative;
}

.list-head h2 {
    max-width: calc(100% - calc(var(--row-height) * 5));
}

.list-head .control {
    /* position: relative; */
    /* top: calc(calc(var(--h2-size) - var(--p-size)) + 1px); */
    border-radius: 3px 3px 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 600px) {
    .list {
        width: 100%;
    }
}
