#plus { width: calc(100% - 4px); }

#list-head {
    margin-bottom: 22px;

    font-size: 40px;
}

.list_name {
    margin-top: 20px;
    margin-bottom: 10px;
}

.list {
    background-color: var(--bg3);

    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    
    border-radius: 7px;
}

.item {
    min-width: 100px;
}

.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 4px;

    border-radius: 4px;
    border: none;
}

.top-btn {
    padding: 10px;
}

.list-btn {
    min-width: 40px;
    height: 30px;
}

