<!DOCTYPE html>
<head>
    <script src="static/scripts/lista.js"></script>
    <link rel="stylesheet" href="static/style/all.css">
    <link rel="stylesheet" href="static/style/lista.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body id="body" onload="init()">
    <h1>{{ name }}</h1>
    <div>
        <button class="interact top-btn btn" onclick="update()">Uppdatera</button>
        <button class="interact top-btn btn" onclick="on_add_list()">Lägg till lista</button>
    </div>
    <div id="todo">
        <div id="lists">
            {% for i in range(listor.lists | length) %}
                <div class="list">
                    <div class="list-head row">
                        <h2 class="list-name">{{ listor.lists[i]["name"] }}</h2>
                        <div class="control">
                            <button class="list-btn btn interact" id="plus" onclick='on_add(     {{ i }})'>+</button><!--
                         --><button class="list-btn btn interact" onclick='on_list_rename(       {{ i }})'>#</button><!--
                         --><button class="list-btn btn interact" onclick='on_list_remove(       {{ i }})'>-</button><!--
                         --><button class="list-btn btn interact" onclick='on_list_move(-1,      {{ i }})'>⬆</button><!--
                         --><button class="list-btn btn interact" onclick='on_list_move( 1,      {{ i }})'>⬇</button>
                        </div>
                    </div>

                    <ul>
                        {% for j in range(listor.lists[i]["list"] | length) %}
                            <li class="item row">
                                <p>{{ listor.lists[i]["list"][j] }}</p>
                                <div class="control">
                                    <button class="list-btn btn interact"  onclick='on_item_rename(  {{ i }}, {{ j }})'>#</button><!--
                                 --><button class="list-btn btn interact"  onclick='on_item_remove(  {{ i }}, {{ j }})'>-</button><!--
                                 --><button class="list-btn btn interact"  onclick='on_item_move(-1, {{ i }}, {{ j }})'>⬆</button><!--
                                 --><button class="list-btn btn interact"  onclick='on_item_move( 1, {{ i }}, {{ j }})'>⬇</button>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
