<!DOCTYPE html>
<head>
    <script src="static/scripts/lista.js"></script>
    <link rel="stylesheet" href="static/style/all.css">
    <link rel="stylesheet" href="static/style/lista.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body id="body" onload="init()">
    <div id="todo">
        <div class="row">
            <button onclick="update()">Uppdatera</button>
            <button onclick="on_add_list()">Lägg till lista</button>
        </div>
        <div id="lists" class="row">
            {% for i in range(listor | length) %}
                <div class="list">
                    <h2 class="list_name">{{ listor[i]["name"] }}</h2>
                    <div class="row">
                        <button onclick='on_list_move(-1, {{ i }})'>Upp</button>
                        <button onclick='on_list_move( 1, {{ i }})'>Ner</button>
                        <button onclick='on_add(          {{ i }})'>Lägg till</button>
                        <button onclick='on_list_remove(  {{ i }})'>Ta bort lista</button>
                        <button onclick='on_list_rename(  {{ i }})'>Byt namn</button>
                    </div>
                    <ul>
                    {% for j in range(listor[i]["list"] | length) %}
                        <li class='row'>
                        <div>
                            <button onclick='on_item_move(-1, {{ i }}, {{ j }})'>Upp</button>
                            <button onclick='on_item_move( 1, {{ i }}, {{ j }})'>Ner</button>
                            <button onclick='on_item_remove(  {{ i }}, {{ j }})'>Ta bort</button>
                            <button onclick='on_item_rename(  {{ i }}, {{ j }})'>Byt namn</button>
                        </div>
                        <p class='item'>{{ listor[i]["list"][j] }}</p>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
